[flake8]
# Ignore alguns erros específicos
#ignore = E226,E302,E41

# Defina outras regras personalizadas ou padrões
max-line-length = 150
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist
